[submodule "libmorton"]
	path = extern/libmorton
	# Yanwen's Modified version that uses CUDA
	url = https://github.com/xuyanwen2012/libmorton-cuda.git

[submodule "extern/cxxopts"]
	path = extern/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
